.dark-item {
  background-color: #333!important;
}

.dark-item .extra,
.dark-item .meta {
  color: #777!important;
}

.dark-item .header a {
  color: #d0b106!important;
}

.dark-item .header a:hover {
  color: #978001!important;
}

.dark-item .description {
  color: #DDD!important;
}

.dark-item .card {
  background-color: #222!important;
}
